.Bookmark-Frame {
  display: flex;
  margin: 2em 0;
  padding: 1em;
}

.Bookmark_pic {
  width: 50%;
  height: 50%;
}

.Bookmark-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 1em;
}
