* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;

  grid-template-rows: 4em auto 4em;
  grid-template-columns: 0.5em auto 0.5em;
}

.Initial-Text {
  grid-row: 2/3;
  grid-column: 2/3;
}
